@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700|Work+Sans:300,400,500,600,700&display=swap);

*{
 padding:0;
 margin:0;
 box-sizing: border-box;

}

body {
    font-weight: 400;
    font-family: Roboto, Arial, sans-serif;
    color: #747474;
    padding-top: 80px;
}

h2, h3, h4 {
    margin: 1em 0;
    font-family: Work Sans, Arial, sans-serif;
    font-weight: 300;
    letter-spacing: -.3px;
}

.section__inner {
    max-width: 1015px;
    padding: 0 20px;
    margin: 0 auto;
    position: relative;
}

.section__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 18px;
}


.main-heade h1 {
    margin: 2px 0 0;
    line-height: 68px;
}

.main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    background: hsla(0, 0%, 100%, .98);
    transition: box-shadow .25s ease 0s;
}
.main-header.is-sticky {
    box-shadow: 0 -2px 10px 0 rgba(0, 0, 0, .15);
}

.logo-docplanner {
    width: 268px;
    height: 33px;
}

.main-menu {

    display: flex;
    list-style: none;
    font-weight: 400;
    font-size: .9375rem;
    line-height: 20px;
    padding: 25px 0;
    gap:13px;
}

.main-menu li a {

    color: #ababab;
    text-decoration: none;
}

.main-menu li a.is-current, .main-menu li a:hover {
    color: #00b39b;

}

.dropdown {

   position:relative;
   cursor: pointer;
}

.dropdown-content {
    display: none;
    padding-top: 10px;
    position: absolute;
    min-width: 220px;
    margin-left: -110px;
    background: #fff;
    box-shadow: 0 5px 10px 0 #d3cfc9;
    z-index: 1;
}

.dropdown-content li {
   list-style: none;
}

.dropdown-content a {
    color: #747474;
    line-height: 120%;
    padding: 12px 16px !important;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {

    display: block;
}

.lead {

    margin:20px auto 60px;
}
.lead__logo {
    display: block;
    margin:auto;
}

.lead h2 {
    text-align: center;
    font-size: 2.125rem;
    color: #00b39b;
    margin: 1em 0;
    font-family: Work Sans, Arial, sans-serif;
    font-weight: 300;
    letter-spacing: -.3px;
}

.lead .section__flex {

    align-items: flex-start;
}

.lead p {
    margin: .8em 0;
    line-height: 1.55;
    font-weight: 400;
    font-size: 1em;  
}

.section__flex__bis  {
    display: flex;
    margin-bottom: 40px;
}

.section__flex__bis > * {
    flex-basis: 0;
    flex-grow: 1;
}

.services .section__flex {
    align-items:flex-start;
}

.services__item {
    border-radius: 10px;
    padding: 2em 2em 0;
    overflow: hidden;
    min-height: 345px;
    height:auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all .2s ease 0s;
}

.services__item h2 {
    font-family: Work Sans, Arial, sans-serif;
    font-size: 1.625em;
    font-weight: 400;
    color: #fff;
    margin: .3em 0;
}

.services__item h3 {
    font-family: Work Sans, Arial, sans-serif;
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.2;
    margin: 0;
    color: #fff;
}

.services__item .style-select {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    outline: 0;
    background: none;
    border: 0;
    color: #fff;
    font-family: Roboto, Arial, sans-serif;
    font-weight: 400;
    letter-spacing: .04em;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 35px;
}

.services__item .style-select select {
    width: 100%;
    background: transparent;
    border: 0;
    border-radius: 0;
    padding: 0 2em 0 0;
    outline: 0;
    text-transform: none;
    text-decoration: underline;
    cursor: pointer;
    height: 40px;
    color: #fff;
    font-family: Roboto, Arial, sans-serif;
    font-weight: 400;
    letter-spacing: .04em;
    font-size: 1.2rem;
    text-align: center;
}

.services__item .style-select select option {
    font-size: 1rem;
    line-height: 1.2;
    color: #333;
}

.services__item--marketplace {
    background: #00ccb1;
}

.services__item--saas {
    background: #3d83df;
}

.services__item--clinics {
    background: #1b2734;
}

.stats {
    background: #e5faf8;
    background-image: linear-gradient(-45deg, rgba(0, 204, 177, .01) 5%, rgba(61, 199, 223, .1));
    padding: 1.875em 0 .625em;
    overflow: hidden;
    margin: 3.125rem auto 5.5rem;
    position: relative;
}

.stats:before {
    content: "";
    position: absolute;
    right: 67%;
    top: 45%;
    background: url(/img/logo.png) no-repeat;
    width: 456px;
    height: 435px;
    pointer-events: none;
}

.stats__flex {
    align-items: flex-start;
}
 
.stats__flex__1 h2 {
    margin: 1em 0;
    font-family: Work Sans, Arial, sans-serif;
    font-weight: 300;
    letter-spacing: -.3px;
    font-size: 2.125rem;
    color: #00b39b;

}

.stats__flex__1 p {
    font-size: .875em;
    font-weight: 400;
    line-height: 1.7142857143;
}

.stats__flex__1 {
    flex: 1; /* Chaque élément enfant prend autant d'espace disponible que possible */
    min-width: 0; /* Permet aux éléments de réduire leur largeur si nécessaire */
    box-sizing: border-box; 
    padding: 10px; 
}

.stats__flex__2 {

    flex: 1; /* Chaque élément enfant prend autant d'espace disponible que possible */
    min-width: 0; /* Permet aux éléments de réduire leur largeur si nécessaire */
    box-sizing: border-box; 
    display: flex;
    flex-wrap: wrap;
}

.fade-elements__stats {

    width: 50%; /* Chaque élément prendra 50% de la largeur du conteneur */
    box-sizing: border-box; 
    padding: 10px;
}

.stats__flex__2 .fade-elements__stats:first-child {
    margin-top: 30px; 
}

.stats__flex__2 .fade-elements__stats:nth-child(4) {
    margin-top: -30px; 
  }

.stats__item {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .05);
    min-height: 250px;
    height:auto;
    text-align: center;
    padding: 15px;
    font-size: .8125em;
}

.stats__item h3 {
    font-size: 1.8461538462em;
    color: #00b39b;
    margin: .5em 0;
    font-family: Work Sans, Arial, sans-serif;
    font-weight: 300;
    letter-spacing: -.3px;
}
.brands h3 { 
    font-size: 1.625em;
    padding-right: 1em;
    font-family: Work Sans, Arial, sans-serif;
    font-weight: 300;
    letter-spacing: -.3px;
    color: #00b39b;
}

.brands ul { 
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    color: #747474;
    row-gap: 18px;
    column-gap: 30px;
}

.brands ul a { 
    color: #747474;
}

.brands__logos a svg {
    height: 20px;
    width: auto;
    max-width: 100%;
}

.section__offices {
    width: 55%;
    text-align: center;
    margin: 0 auto 4.1875rem;
    font-size: .875em;
}

.section__offices h2 {
    color: #00b39b;
    text-align: center;
    font-size: 2.125rem;
    margin: 1em 0;
    font-family: Work Sans, Arial, sans-serif;
    font-weight: 300;
    letter-spacing: -.3px;
} 

.section__grid {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 15px;
    margin-bottom: 50px;
}

.office__inner {
    background: #fff;
    border: 1px solid rgba(0, 0, 0, .03);
    border-radius: 6px;
    overflow: hidden;
    max-width: 311px;
    z-index: 2;
    position: relative;
    display: block;
    color: #747474;
    box-shadow: 0 5px 10px 0 transparent;
    transition: box-shadow .2s ease 0s;
    text-decoration: none;
}
.office__image img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 270px;
}

.office__desc {
    font-size: 1.125em;
    font-weight: 400;
    line-height: 1.6666666667;
    padding: 1.1111111111em;
}

.btn {
    display: inline-block;
    vertical-align: middle;
    outline: 0;
    border: 0;
    border-radius: 4px;
    padding: 1.1666666667em 1.5em;
    background: #3d83df;
    font-family: Roboto, Arial, sans-serif;
    line-height: 1em;
    color: #fff;
    font-weight: 700;
    letter-spacing: .04em;
    font-size: .75rem;
    text-align: center;
    text-decoration: none !important;
    text-transform: uppercase;
    transition: all .2s ease 0s;
}


.btn--small {
    font-size: .625rem;
    padding: 1em 1.5em;
    position: absolute;
    right:15px;
    bottom:15px;
}
.join-us {

    text-align: center;
    margin-bottom: 50px;
}

.join-us h2 {
    color: #333;
    text-align: center;
    font-size: 2.1em;
    margin: 1em 0;
    font-family: Work Sans, Arial, sans-serif;
    font-weight: 300;
    letter-spacing: -.3px;
}

.main-footer {
    border-top: 1px solid #eef2f2;
    text-align: center;
    padding: 15px 0;
    font-size: .74rem;
    color: #ababab;
}

.main-footer p {
    text-align: center;
    margin:20px 0 5px 0;
}


.main-footer p a {
    text-decoration: none;
    color: #3d83df;
}

.hamburger {
    display:none;
}

.hamburger {
    padding: 17px 13px 13px;
    display: inline-block;
    cursor: pointer;
    position: relative;
    outline: 0;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0 -10px 0 0;
    overflow: visible;
    z-index: 12;
}


/* Extra small devices */
@media (max-width: 576px) { /* ... */ } 
/* Small devices (landscape phones, 576px and up)  */
   @media (min-width: 576px) and (max-width: 768px) { /* ... */ } 
/* Medium devices (tablets, 768px and up)  */
   @media (min-width: 768px) and (max-width: 992px)  { /* ... */ } 
/* Large devices (desktops, 992px and up)  */
   @media (min-width: 992px) and (max-width: 1200px)  { /* ... */ } 
/* Extra large devices (large desktops, 1200px and up)  */
   @media (min-width: 1200px) { /* ... */ } 


@media screen and (max-width: 576px)
{
    .hamburger {
        display: block;
    }

    .hamburger-box {
        width: 24px;
        height: 16px;
        display: inline-block;
        position: relative;
    }
    .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
        width: 24px;
        height: 2px;
        background-color: #00b39b;
        border-radius: 2px;
        position: absolute;
        transition-property: transform;
        transition-duration: .15s;
        transition-timing-function: ease;
    }

    .hamburger-inner:before {
        top: 7px;
        transition: opacity .15s ease .4s;
    }

    .hamburger-inner {
        top: 1px;
        right: 0;
        transition-duration: .4s;
        transition-timing-function: cubic-bezier(.68,-.55,.265,1.55);
    }

    .hamburger-inner:after {
        top: 14px;
        transition: transform .4s cubic-bezier(.68,-.55,.265,1.55);
    }
    .hamburger-inner:after {
        bottom: -7px;
    }
    .hamburger-inner:after, .hamburger-inner:before {
        content: "";
        display: block;
    }

    body.is-menu .main-nav {
        transform: translate(0)
    }

    .main-header h1 {
        line-height: 48px;
        z-index: 12;
    }

    .is-menu .logo-docplanner {
        filter: brightness(200%) saturate(0) contrast(1000%) grayscale(100%);
        -webkit-filter: brightness(200%) saturate(0) contrast(1000%) grayscale(100%);
    }

    .is-menu .main-menu li {
        opacity: 1
    }

    .is-menu .main-menu li:first-of-type {
        transition-delay: .15s
    }

    .is-menu .main-menu li:nth-of-type(2) {
        transition-delay: .25s
    }

    .is-menu .main-menu li:nth-of-type(3) {
        transition-delay: .35s
    }

    .is-menu .main-menu li:nth-of-type(4) {
        transition-delay: .45s
    }

    .is-menu .hamburger .hamburger-inner {
        transform: translate3d(0,7px,0) rotate(135deg);
        transition-delay: .1s
    }
    
    .is-menu .hamburger .hamburger-inner:before {
        transition-delay: 0s;
        opacity: 0
    }
    
    .is-menu .hamburger .hamburger-inner:after {
        transform: translate3d(0,-14px,0) rotate(-270deg);
        transition-delay: .1s
    }
    
    body.is-menu {
        overflow: hidden
    }
    
    body.is-menu .hamburger-inner,body.is-menu .hamburger-inner:after,body.is-menu .hamburger-inner:before {
        background: #fff
    }
    
    .main-nav {
        position: fixed;
        top: 0;
        padding: 70px 0 0;
        height: 100%;
        right: 0;
        width: 100%;
        z-index: 10;
        background: #00b39b;
        transition: transform .2s ease 0s;
        transform: translateY(-100%);
        overflow-y: auto;
    }

    .main-menu {
        padding: .5em 0;
        display: block;
    }

    .main-menu li {
        display: block;
        padding: 0 20px;
        transition: opacity .2s ease 0s;
        opacity: 0;
    }

    .main-menu a {
        cursor: pointer;
        padding: 1em 0;
        text-align: center;
        color: #fff;
        border-bottom: 1px solid hsla(0, 0%, 100%, .2);
        display: block;
    }

    .main-menu li a, .main-menu li a.is-current, .main-menu li a:hover {
        color: #ffffff;
    }

    .main-menu li:nth-child(3n) a {
        padding: 1em 0 0;
        border-bottom: none;
        opacity: .5;
    }

    .main-menu li:nth-child(3n) .dropdown-content a {
        opacity: 1;
    }

    .dropdown .dropdown-content {
        display: block;
        padding-top: 20px;
        position: static;
        min-width: 100%;
        margin-left: 0;
        background: transparent;
        box-shadow: none;
        z-index: 1;
    }

    .logo-docplanner {
        width: 215px;
    }
    .lead .section__flex, .services .section__flex, .brands .section__flex, .stats .section__flex {
    
        display: block;
    }

    .services .services__item {
        margin-bottom: 15px;
    }

    .section__offices {
        width: 100%;
    }

    .section__grid {
        display: block;
    }

    .section__grid .fade-elements__visible {

        margin-bottom: 15px;
    }

    .lead p {
        line-height: 1.55;
        font-size: 1em;
    }
    
    
}

@media (min-width: 577px) and (max-width: 992px)  { 

    .services__item h2 {
        font-size: 1.25em;
    }

    .services__item h3 {
        font-size: 1.4em;
    }

    .services .style-select {
        font-size: 1rem;

    }

    .services__item .style-select select {
        font-size: 1rem;
    }

    .btn--small {
        position: relative;
        right:auto;
        bottom: auto;
    }

    .office__desc {
        font-size: 1em;
    }


 } 